<li><a href="#home">Return to Animals</a></li>

<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <h2>{{message}}</h2>
        <p>Fave Count: {{favorites.length}}</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div ng-repeat="animal in favoriteAnimals">
            <p>{{animal.pet_name}}</p>
            <img ng-src="{{animal.pet_image_url}}"/>
            <p>{{animal.pet_description}}</p>
        </div>
    </div>
</div>